<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='Gravity 3.0' Manufacturer='Microplanet'
        Id='bc1f8b52-b7cc-4116-bbae-239ebeed5b15' 
        UpgradeCode='3e55ed2f-268e-4c09-bda5-9a7f5583b7aa'
        Language='1033' Codepage='1252' Version='3.0.5'>
    <Package Id='*' Keywords='Installer' Description="MicroPlanet Gravity"
        Comments='MicroPlanet Gravity USENET Newsreader' Manufacturer='Microplanet + Volunteers'
        InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='gravity.cab' EmbedCab='yes' DiskPrompt='Disk #1' />
    <Property Id='DiskPrompt' Value="MicroPlanet Gravity Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
    <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='MicroPlanet Gravity'>
            <Component Id='MainExecutable'>
                <File Name='Gravity.exe'
                    Source='../src/mpgravity.exe'
                    KeyPath='yes'>
                    <Shortcut Id="StartMenuGravity"
                        Directory="ProgramMenuDir"
                        Name="MicroPlanet Gravity"
                        Icon="Gravity.exe"
                        IconIndex="0"
                        Advertise="yes" />
                </File>
                <RegistryKey Root='HKLM'
                    Key='Software\[Manufacturer]\[ProductName]'>
                    <RegistryValue Type='string' Name='InstallDir' Value='[INSTALLDIR]'/>
                </RegistryKey>
            </Component>
            <Component Id='Manual'
                Guid='632ea524-4bab-46a6-8ebe-ba9b09b8923d'>
                <File Id='Manual'
                    Source='gravity.chm'
                    KeyPath='yes'>
                    <Shortcut Id='StartMenuManual'
                        Directory='ProgramMenuDir'
                        Name='Gravity Manual'
                        Icon="Gravity.exe"
                        IconIndex="0"
                        Advertise='yes' />
                </File>
            </Component>
            <Component Id='Dictionaries' Guid='aae4c354-2f69-426b-8955-261b35010bdf'>
                <File Source='en_US.aff'/>
                <File Source='en_GB.aff'/>
                <File Source='en_US.dic'/>
                <File Source='en_GB.dic'/>
            </Component>
        </Directory>
    </Directory>
    <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="MicroPlanet Gravity">
            <Component Id="ProgramMenuDir" Guid="29f6bbcf-76f7-4882-bb17-73744c2d183a">
                <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                <RegistryValue Root='HKCU'
                    Key='Software\[Manufacturer]\[ProductName]'
                    Type='string'
                    Value=''
                    KeyPath='yes' />
            </Component>
        </Directory>
    </Directory>
    </Directory>
    <Feature Id='Complete' Level='1'>
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='Manual' />
        <ComponentRef Id='Dictionaries' />
        <ComponentRef Id='ProgramMenuDir' />
    </Feature>
    <Icon Id="Gravity.exe" SourceFile="../src/mpgravity.exe" />
    </Product>
</Wix>
